* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: green;
}
.colors-palette-content {
    width: 100%;
    background-color: red;
    padding: 50px 0;
}

.palette {
    width: 260px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px 5px #000;
}

.color {
    width: 40px;
    height: 40px;
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
}

.color1 {
    background-color: black;
}

.color2 {
    background-color: red;
}

.color3 {
    background-color: green;
}

.color4 {
    background-color: blue;
}

.board {
    width: 100%;
    background-color: yellow;
    padding: 20px 0;
}

.pixels-board {
    display: table;
    margin: 0 auto;
    background-color: yellow;
    overflow: visible;
}

.line-display {
    display: table-row;
}

.column-display {
    display: table-cell;    
}

.pixel {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
}

.button-generate {
    text-align: center;
    margin-bottom: 20px;
}

.button-generate p {
    font-size: 12pt;
    font-weight: bold;
}

.input-text {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;
    padding-left: 5px;
}

.button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-weight: bold;
}