#color-palette {
  display: flex;
}

.color {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  margin: 2px 2px;
}

.horiDiv {
  display: flex;
}
.pixel {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  background-color: white;
}
