body {
  padding: 0;
  margin: 0;
}

#color-palette {
  display: flex;
}

.color {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  margin: 2px 2px;
}

.horiDiv {
  display: flex;
}
.pixel {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  background-color: white;
}

h1 {
  font-family: 'Grandstander', cursive;
}

button {
  font-family: 'Roboto Slab', serif;
  border: none;
  border-radius: 100px;
  padding: 0 10px;
}

.all-content {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  width: auto;

  box-shadow: 5px 10px 18px #888888;
  border-radius: 20px;

  margin: 20px;
  padding: 20px;
}

.defTamanho {
  display: flex;
  padding: 10px 0;
}

.vqvb {
  margin-left: 5px;
}
