.color{
  border:1px solid black;
  height:100px;
  margin-bottom: 20px;
  position: relative;
  width: 100px;
  display: inline-block;

}

.colorPalette .black{
  background: black;
}

.colorPalette .red{
  background: red;
}

.colorPalette .blue{
  background: blue;
}

.colorPalette .green{
  background: green;
}

.pixel-board{
  text-align:center;
}

.pixel{
  background-color: white;
  border:black solid 1px;
  display: table-cell;
  border-collapse: collapse;
  height: 40px;
  width: 40px;

}

.clearBoard{
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;

}
