.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.black {
  background-color: black;
}

.purple {
  background-color: purple;
}

.dark-purple {
  background-color: #ab05f2;
}

.bluish-purple {
  background-color: #5a13f2;
}

.pixel-board {
  display: table;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
}
