body {
  background-color: rgb(253, 251, 251);
}

#title {
  border: 3px double black;
  padding: 20px;
  text-align: center;
}

.paletaDeCores {
  padding: 10px;
  text-align: center;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 50px;
  padding: 10px;
  width: 50px;
}

#blackColor {
  background-color: black;
}

#redColor {
  background-color: rgb(236, 72, 72);
}

#blueColor {
  background-color: rgb(81, 81, 255);
}

#greenColor {
  background-color: rgb(80, 139, 80);
}

#color #pixel-board {
  background-color: white;
}

#clear-board {
  background-color: turquoise;
}

#botao {
  text-align: center;
  padding: 10px;
}

.boxes {
  text-align: center;
}

#pixel-board {
  display: inline-block;
  /* height: 210px; */
  /* width: 210px; */
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin-bottom: -4px;
  padding: 15px;
  text-align: center;
  width: 40px;
}
