.title1 {
  align-items: center;
  text-align: center;
}

.palette-color {
  margin-left: 580px;
  width: 245px;
}

.board-pixel {
  display: table;
  height: 212px;
  line-height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 212px;
}

.size-board {
  margin-left: 580px;
}

.generate {
  border-radius: 20px;
}

.clear {
  border-radius: 20px;
  margin-left: 580px;
}

.color {
  border: 1px black solid;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.pixel {
  background-color: white;
  border: 1px black solid;
  display: inline-table;
  height: 40px;
  width: 40px;
}
