h1 {
  text-align: center;
}

.color-palette {
  display: flex;
  height: 60px;
  left: 50%;
  margin-bottom: 25px;
  position: relative;
  transform: translateX(-50%);
  width: 300px;
}

.color {
  border: 1px solid black;
  display: inline-flex;
  height: 50px;
  margin: 0 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
}

.selected {
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgba(255, 0, 191, 0.5);
  height: 50px;
  transition: 0.2s ease-in-out;
  width: 50px;
}

.input-button {
  display: flex;
  justify-content: center;
}

.input-button input {
  margin: 0 10px;
  width: 100px;
}

.input-button button {
  margin: 0 10px;
  width: 100px;
}

.pixel-board {
  left: 50%;
  margin-top: 25px;
  min-height: 250px;
  min-width: 250px;
  position: relative;
  transform: translateX(-50%);
}

.pixel-row {
  display: flex;
  justify-content: center;
  position: relative;
}

.pixel {
  border: 1px solid black;
  height: 40px;
  margin: 1px;
  width: 40px;
}

.pixel:hover {
  box-shadow: inset 0 0 1px 1px rgb(134, 133, 133);
}
