.color {
  border: 1px solid black;
  display: inline-block;
  padding: 24px;
}
.black {
  background-color: black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.white {
  background-color: white;
}

.pixels {
  width: 250px;
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;    
}