body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #C0D9D9;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 80%;
    border-radius: 8px;
    text-align: center;
}

#color-palette {
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin: auto;
}

.color {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

#pixel-board {
    width: 13.5rem;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.pixel {
    background-color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    background-color: white;
    font-weight: bold;
    font-size: large;
    margin-top: 20px;
    padding: 15px 20px;
}

button:hover {
    font-size: larger;
    font-style: italic;

}