.color {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

#color-palette {

}

.pixel {
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
}

#pixel-board {

}

.selected {
    
}