#blackColor{
  background-color: black;
  border: 1px solid black;
  display: inline-block;
  width: 30px;
  height: 30px;
}

#greenColor{
  background-color: green;
  border: 1px solid black;
  display: inline-block;
  width: 30px;
  height: 30px;

}

#redColor{
  background-color: red;
  border: 1px solid black;
  display: inline-block;
  width: 30px;
  height: 30px;

}

#pinkColor{
  background-color: pink;
  border: 1px solid black;
  display: inline-block;
  width: 30px;
  height: 30px;

}

#clear-board {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  height : 30px;
  width : 63px;
  float: left;
  margin-right: 7px;
  box-sizing: border-box;

}

#color-palette {

  display: inline-block;
  box-sizing: border-box;

}
/*
.pixel {
  background-color: white;
  height : 40px;
  width : 40px;
  border : 1px solid black;
  display : inline-block;

}
*/