.color{
    width: 40px;
    height: 40px;
    display: inline-block;
    border: solid 1px black;
}
.black{
    background-color: black;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.white{
    background-color: white;
}
.black, 
.red, 
.blue, 
.green,
button {
    cursor:pointer;
}

.pixel{
    width: 40px;
    height: 40px;
    display: inline-block;
    border: solid 1px black;
    background-color: white;
}