.color{
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);;
  width: 40px;
  height: 40px;
}
#pixel-board{
  display: table;
}

.pixel{
  display: table-cell;
  background-color: white;
  width: 40px;
  height: 40px;
  border: solid black 1px;
}


.black {
  background-color:rgb(0, 0, 0);
}

.color-02 {

  background-color: rgb(218,112,214);
}

.color-03 {

  background-color: rgb(255,0,0);
}

.color-04 {

  background-color:rgb(152,251,152);
}
