.color {
  border: 1px solid black;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.preto {
  background-color: black;
}

.vermelho {
  background-color: red;
}

.azul {
  background-color: blue;
}

.amarelo {
  background-color: yellow;
}

.tela {
  margin-top: 10px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.bot {
  margin-top: 20px;
}

