.color{
    display: inline-block;
    border: solid black 1px;
    width: 40px;
    height: 40px;
}
.selected{
    display: inline-block;
    border: solid black 1px;
    width: 40px;
    height: 40px;
}
#pixel-board{
    display: table;
}
.tr{
    display: table-row;
}
.pixel{
    display: table-cell;
    background-color: white;
    width: 40px;
    height: 40px;
    border: solid black 1px;
}