.color {
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.black {
  background-color: black;
  display: inline-block;
}

.blue {
  background-color: blue;
  display: inline-block;
}

.red {
  background-color: red;
  display: inline-block;
}

.green {
  background-color: green;
  display: inline-block;
}

.pixel {
  background-color: white;
  height: 40px;
  width: 40px;
}

table {
  border-collapse: collapse;
}

table , th , td {
  border: 1px solid black;
  padding: 1px;
}

.pixel-board {
  clear: both;
}
