.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.color {
    border: 1px solid black ;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.green {
    background-color: green;
}

.pixel {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
    background-color: white;
    color: white;
}

#pixel-board{
    margin-top: 30px;
}

.red {
    background-color:red;
}

.selected {
    font-size: 4pt;
}

.yellow {
    background-color: yellow;
}