*{
    margin:0;
    padding:0;
  }
  
  h1{
  
      background-color:blue;
      text-align: center;
  }
  
  #color-palette{
  
  background-color: green;
  text-align: center;
  }
  .color{
  
      background-color: red;
      border:1px solid black;
      display: inline-block;
      width: 50px;
      height: 50px;
  
  }
  
  .color1{
  
      background-color: black;
  }
  
  .color2{
  
      background-color: red;
  }
  
  .color3{
  
      background-color: blue;
  }
  .color4{
  
      background-color:yellow;
  }
  #pixel-board{
  
    background-color: violet;
    display: inline-block;
          
  }

  .linha {
      width: auto;
      height: auto;
  }
  .pixel{
  
     
      background-color:white;
      border: 1px solid black;
      
      height: 40px;
      width: 40px;
      display: inline-block;
      
  }
  
  #clear-board{
            
      display: inline-block;
      width: 60px;
      height: 40px;
      margin: 10px;
      margin-left: 50px;
  
  }