html , body {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: rgba(51, 51, 51, 0.1);
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.wrapper {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(51, 51, 51, 0.1);
  padding: 15px 30px;
}

.color {
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
}

button {
  background-color: rgba(51, 51, 51, 0.1);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin: 5px 0 15px;
  padding: 10px 15px;
}

.table {
  border-collapse: collapse;
  display: table;
  margin-bottom: 30px;
}

.tr {
  display: table-row;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: table-cell;
  height: 41px;
  padding: 0;
  width: 41px;
}
