.pixel-board {
  display: table;
}

.linha {
  display: table-row;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: table-cell;
  height: 40px;
  width: 40px;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
  
}

.color-1 {
  background-color: black;
}

.color-2 {
  background-color: rgb(133, 123, 233);
}

.color-3 {
  background-color: blue;
}

.color-4 {
  background-color: green;
}
