body , html {
  background-color: rgb(96, 96, 96);
  font-family: Roboto, sans-serif;
  height: 100%;
  margin: 0;
}

header {
  background-color: rgb(209, 13, 95);
  min-width: 1100px;
}

h1 {
  color: white;
  font-size: 48px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.tabTools {
  background-color: rgb(246, 105, 164);
  border-color: white;
  border-radius: 5px 5px 0 0;
  border-style: solid;
  border-width: 1px 1px 0;
  color: white;
  font-size: 14px;
  line-height: 20px;
  margin-left: 20px;
  text-align: center;
  width: 100px;
}

.toolsContent {
  background-color: rgb(246, 105, 164);
  border-color: white;
  border-style: solid;
  border-width: 1px 0;
  height: 80px;
}

.colorSelections {
  display: inline-block;
  height: 60px;
  margin: 10px 10px 10px 20px;
  width: 60px;
}

.colorExternalBorder {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 38px;
  position: relative;
  width: 38px;
}

.colorExternalBorder:first-child {
  left: 20px;
}

.colorExternalBorder:last-child {
  top: -23px;
}

.colorInternalBorder {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 36px;
  width: 36px;
}

.colorBacground {
  background-color: orangered;
}

.colorFont {
  background-color: black;
}

.colorPalette {
  bottom: 22px;
  display: inline-block;
  height: 60px;
  position: relative;
  width: 240px;
}

.color1 {
  background-color: black;
}

.color2 {
  background-color: dodgerblue;
}

.color3 {
  background-color: darkorange;
}

.color4 {
  background-color: crimson;
}

.color {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 58px;
  margin: 0;
  padding: 0;
  width: 58px;
}

.color:hover {
  cursor: pointer;
}

/* .selected {
  border-color: white;
  border-width: 1px;
} */

.edit {
  bottom: 38px;
  color: white;
  display: inline-block;
  height: 60px;
  margin-left: 10px;

  /* position: relative; */
  width: 400px;
}

/* label {
  line-height: 25px;
} */

.board-size {
  border-color: rgb(209, 13, 95);
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  color: rgb(209, 13, 95);
  font-size: 16px;
  height: 35px;
  position: relative;
  width: 120px;
}

.board-size:focus {
  color: rgb(209, 13, 95);
  outline: none;
}

.generate-board {
  background-color: rgb(209, 13, 95);
  border-color: white;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  width: 220px;
}

.generate-board:focus {
  color: white;
  outline: none;
}

.generate-board:hover {
  background-color: dodgerblue;
  cursor: pointer;
}

.generate-board:active {
  left: 2px;
  position: relative;
  top: 1px;
}

.clear {
  float: right;
  height: 60px;
  margin: 10px;
  text-align: right;
  width: 300px;
}

button {
  background-color: rgb(209, 13, 95);
  border-color: white;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  margin: 20px;
  width: 220px;
}

button:focus {
  color: white;
  outline: none;
}

button:hover {
  background-color: dodgerblue;
  cursor: pointer;
}

button:active {
  left: 2px;
  position: relative;
  top: 1px;
}

main {
  height: calc(100% - 165px);
  width: 100%;
}

.canvas {
  background-color: rgb(196, 196, 196);
  border-color: gainsboro;
  border-style: solid;
  border-width: 1px;

  /* display: inline-block; */
  left: calc(50% - 106px);
  margin: 10px;
  position: relative;
  top: calc(50% - 106px);
}

.pixel-board {
  background-color: white;
  border-color: rgb(96, 96, 96);
  border-style: solid;
  border-width: 1px;
  height: 212px;
  margin: 7px;
  width: 212px;
}

/* .boardLines {
  background-color: green;
} */

.pixel {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  float: left;
  height: 40px;
  width: 40px;
}
