body {
  padding: 30px;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.brown {
  background-color: brown;
}

.grey {
  background-color: grey;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.white {
  background-color: white;
}

.pixel-board {
  background-color: white;
  border: 1px solid black;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: 200px;
  margin-top: 25px;
  width: 200px;
}

.pixel {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin: 0;
  width: 40px;
}

input {
  margin: 20px;
  margin-right: 0;
}

.div-row {
  height: 40px;
}
