body {
    background-color: grey;
    text-align: center;
  }
h1 {
    text-align: center;
  }
#color-palette {
  background-color:burlywood;
  margin: auto;
  max-width: 300px;
  padding: 10px;
}
.color {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: solid black 1px;
  }
#pixel-board{
  display: table;
  background-color: burlywood;
  margin: 20px auto;
  width: 300px;
  padding: 10px;
}
.tabela{
  background-color: burlywood;
  }
.pixel {
  background-color: white;
  border: solid 1px black;
  display: inline-block;
  height: 40px;
  width: 40px;
  }
#black {
    background-color: black;
}
#blue {
    background-color: blue;
}
#red {
    background-color: red;
}
#green {
    background-color: green;
}
button{
    padding: 3px;
    background-color: yellow;
}