body {
  background-attachment: fixed;
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/01073865290819.5d61d475f0072.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 1366px;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.containerInt {
  padding: 10px;
  text-align: center;
}

.drawPixel {
  align-items: center;
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin-left: 5px;
  width: 40px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin: 0;
  width: 40px;
}

.line {
  height: 40px;
  margin: 0;
  padding: 0;
}

.size input {
  width: 30px;
}

.create {
  background-color: #72a3fd;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10pt;
  height: 25px;
  padding: 3px;
  text-align: center;
  width: 25px;
}

.black {
  background-color: black;
}

footer p {
  color: rgb(5, 5, 5);
  font-size: 10pt;
  text-align: center;
}
