body, html {
    margin: 0;
    padding: 0;
  }
  
  .color {
    border: 1px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    height: 40px;
    margin-left: 20px;
    width: 40px;
  }
  
  .clear {
    margin-top: 50px;
  }
  
  .board {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 50px;
    width: 200px;
  }
  
  .pixel {
    background-color: white;
    border: 1px;
    border-color: black;
    border-style: solid;
    height: 40px;
    width: 40px;
  }
  
  .generate-board {
    margin-bottom: 20px;
  }
  