.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.color-palette {
  display: inline-block;
  margin-bottom: 20px;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.pixel-board {
  display: table;
  height: 2010px;
  width: 2010px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: table-cell;
  height: 40px;
  width: 40px;
}

.clear-board {
  margin-bottom: 20px;
}
